html {
  box-sizing: border-box;
}

*, ::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100% height: auto;
}

label, input {
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px 8px #dbdbdb;
}

.main-navigation {
  display: flex;
  position: relative;
  align-items: center;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  text-align: center;
  width: 20%;
}

.site-navigation li:nth-of-type(2) {
  margin-right: 19%;
}

.site-navigation a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000000;
  font-weight: bold;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #b2b2b2;
}

.site-navigation .active {
  color: #766357;
}

.intro {
  position: relative;
  height: 508px;
  background: #d9eaf2 url("../img/welcome-sedona.jpg") no-repeat;
  background-size: cover;
}

.intro img {
  width: 458px;
  height: 352px;
  position: relative;
  left: 50%;
  top: 76px;
  margin-left: -229px;
}

.intro:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background: url("../img/welcome-sedona-f.png") no-repeat 50% 50%;
}

.reasons-head, .reason, .reason-icon {
  text-align: center;
}

.reasons-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 216px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.reasons-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  padding-left: 319px;
  padding-right: 319px;
}

.reasons-head p {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  margin-bottom: 10px;
}

.reason-row {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #81b3d2;
  color: #ffffff;
}

.reason {
  margin: 0;
  padding: 0;
  width: 400px;
  min-height: 256px;
  justify-content: center;
}

.reason-title {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-top: 47px;
  padding-left: 120px;
  padding-right: 120px;
}

.reason-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  padding-left: 44px;
  padding-right: 54px;
}

.reason-number {
  padding-top: 22px;
  padding-left: 0;
  padding-bottom: 4px;
  padding-right: 0;
  position: relative;
}

.reason-number:before {
  content: "-";
  position: absolute;
  left: 170px;
}

.reason-number:after {
  content: "-";
  position: absolute;
  right: 170px;
}

.reason-image img {
  display: block;
  width: 100%;
}

.reason-image {
  margin: 0;
  padding 0;
  position: relative;
  background-color: #81b3d2;
}

.reason-icon:before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-image-home {
  background: url("../img/icon-1.svg") 50% 60px no-repeat;
}

.reason-image-food {
  background: url("../img/icon-3.svg") 50% 60px no-repeat;
}

.reason-image-gift {
  background: url("../img/icon-2.svg") 50% 60px no-repeat;
}

.reason-icon {
  width: 400px;
  padding-top: 165px;
  padding-bottom: 87px;
  background-color: #ffffff;
  color: #000000;
  position: relative;
}

.reason-row-gray {
  display: flex;
  min-height: 256px;
  background-color: #eeeeee;
  color: #000000;
}

.search {
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 380px;
  padding-right: 380px;
}

.search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  vertical-align: top;
  background-color: #81b3d2;
  text-align: center;
  cursor: pointer;
  padding: 17px 196px;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: #83b3cf;
  background-color: #5496bd;
}

.button-brown {
  background-color: #766357;
  padding: 30px 140px;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  color: #857871;
  background-color: #503e33;
}

/*Форма на главной*/

.field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.field::-moz-placeholder {
  opacity: 1;
  color: #000000;
}

.field::-webkit-input-placeholder {
  opacity: 1;
  color: #000000;
}

.booking-form {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 570px;
  background: #ffffff;
  margin: 0 auto;
  padding-bottom: 55px;
}

.find-hotels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-line {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}

.input-line:nth-child(1n) {
  display: flex;
}

.input-line:nth-child(1) {
  margin-top: 55px;
}

.input-line:nth-child(2n) {
  margin: 30px 0;
}

.input-line label {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 100px;
  margin-left: 55px;
  margin-right: 10px;
}

.input-line .field {
  width: 346px;
  min-height: 38px;
  padding: 10px 0;
  padding-left: 15px;
  border: none;
  background-color: #f2f2f2;
}

.field-date {
  position: absolute;
  border: 0;
  padding: 0;
  background: none;
  left: 95%;
  transform: translateY(35%);
}

.field:hover path {
  fill: #000000;
}

.field:active path {
  fill: #81b3d2;
}

.field:hover {
  background-color: #ebebeb;
  color: #000000;
}

.field:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.input-line-adults, .input-line-childrens {
  display: flex;
  align-items: center;
  margin: 0;
}

.find-hotels .button {
  align-self: center;
  width: 458px;
  min-height: 59px;
  margin-top: 53px;
}

/*Поиск Отелей*/

.filters {
  background-image: url("../img/filters-hotels.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filters form {
  display: flex;
  padding-top: 27px;
  min-height: 217px;
}

.filters-column {
  padding: 0;
  margin: 0;
  border: none;
}

.filters-column:nth-child(1) {
  margin-right: 118px;
  margin-left: 73px;
}

.filters-item {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  margin-bottom: 22px;
}

.filters-item label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 23px;
  margin-right: 14px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filters-item input:checked+label:before {
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filters-price {
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  width: 318px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 71px;
  border: none;
}

.filters-title {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  box-sizing: content-box;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  text-align: center;
}

.price-controls .min-price, .price-controls .max-price {
  width: 50%;
}

.price-controls input {
  width: 30px;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls input:focus {
  color: yellow;
  outline: 0;
  filter: drop-shadow(0 0 5px rgba(255, 255, 0, 0.7));
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  box-sizing: content-box;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filters-btn {
  width: 137px;
  min-height: 36px;
  margin-left: 85px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.filters-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.total-results {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 73px;
}

.sort-types-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  margin-left: 50px;
  display: flex;
}

.sort-types-list a {
  color: #dfdfdf;
}

.sort-types-list .active {
  color: #81b3d2;
}

.sort-filters {
  display: flex;
  position: relative;
  padding-top: 30px;
  padding-right: 72px;
  padding-bottom: 30px;
  padding-left: 72px;
  margin-bottom: 22px;
  align-items: baseline;
  min-height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.total-results {
  margin-right: 48px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sort-types {
  display: flex;
  padding: 6px 0;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  list-style: none;
}

.sort-types-list {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 40px;
  display: flex;
  justify-content: space-between;
  width: 277px;
}

.sort-direction {
  position: relative;
  margin-left: auto;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: 68px;
}

.sort-types-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}

.sort-types-list a:hover {
  color: #81b3d2;
}

.sort-types-list a:active {
  color: #000000;
  border: none;
}

.arrow:hover path {
  fill: #231f20;
}

.arrow:active path {
  fill: #83b3cf;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #040404;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: #b2b2b2;
}

.hotel {
  position: relative;
  display: flex;
  padding-top: 31px;
  padding-right: 0;
  padding-bottom: 30px;
  padding-left: 0;
  border-bottom: 1px solid #e5e5e5;
}

.hotel:last-child {
  padding-top: 31px;
  padding-right: 0;
  padding-bottom: 31px;
  padding-left: 0;
}

.hotel-description {
  margin-top: -5px;
}

.hotel-photo {
  margin-right: 30px;
  width: 135px;
  height: 90px;
}

.hotel-type, .hotel-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  display: inline-block;
  min-width: 105px;
  margin-top: 5px;
  margin-right: 8px;
  margin-bottom: 0;
  margin-left: 0;
  vertical-align: top;
  color: #333333;
}

.hotel-col-booking {
  margin-top: 8px;
}

.hotel-col-booking .button {
  display: inline-block;
  margin: 6px 2px 0 0;
  padding-top: 3px;
  padding-right: 17px;
  padding-bottom: 3px;
  padding-left: 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  vertical-align: top;
}

.hotel-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: auto;
  text-align: right;
}

.rating {
  min-width: 110px;
  margin: 0;
  padding-top: 3px;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-left: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  background-color: #f2f2f2;
}

.button .button-blue:hover {
  background-color: #669ec0;
}

.button .button-blue:active {
  color: #83b3cf;
  background-color: #5496bd;
}

.button .button-brown {
  width: 142px;
  background-color: #766357;
}

.button .button-brown:hover {
  background-color: #604e43;
}

.button .button-brown:active {
  color: #857871;
  background-color: #503e33;
}

/*Подвал*/

.map {
  position: relative;
  height: 593px;
}

.map-canvas {
  height: 593px;
}

.map-canvas iframe {
  height: 593px;
  width: 100%;
  border: none;
}

.main-footer-index {
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  left: 0;
  right: 0;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 10px;
  padding-bottom: 9px;
}

.hashtag {
  width: 150px;
  margin: 0;
  margin-left: 125px;
  margin-top: 35px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.social-buttons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 150px;
  margin: 0;
  padding: 0;
  margin-left: 44px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
}

.footer-copyright {
  margin: 0;
  margin-right: 77px;
  width: 241px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  color: #83b3cf;
  background-color: #5496bd;
}

.social-button:active path {
  fill: #92bdd8;
}

.copyright-link {
  display: block;
  align-items: center;
  margin-right: 0;
  padding-left: 10px;
}

.copyright-link:hover path {
  fill: #a8cbe0;
}

.copyright-link:active path {
  fill: #d1d0d1;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}
